/* .App .body-App{
background-color: #e2e8ed;

} */

.App .header-img {
  background-image: url("./img/cover2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  position: absolute;
  right: 0;
  left: 0;
}

.header-img .link {
  border: 1px solid #20599a;
  border-radius: 5px;
  display: inline-block;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  padding-top: 5px;
  cursor: pointer;
}

.header-img .link:hover {
  opacity: 0.7;
}

.header-img .link .fas {
  margin-right: 10px;
  color: #20599a;
}

.header-img .link .insert-vaction-link {
  color: #20599a;
}

.header {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

.header img {
  width: 100px;
  height: 100px;
}

.header .header-links>a {
  margin-right: 20px;
}

.header .header-links .username-hello {
  margin-right: 20px;
}

.Login .login-form {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-top: 150px;
  border: 1px solid #20599a;
  border-radius: 5px;
  padding: 8px;
  background-color: #ffffff;
}

.Login .login-form #login-title {
  color: #20599a;
  margin-top: 10px;
}

.registration .Registration-form {
  width: 400px;
  height: 450px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px solid #20599a;
  border-radius: 5px;
  padding: 8px;
}

.registration .Registration-form #emailHelp {
  display: flex;
}

.registration .Registration-form #Registration-title {
  color: #20599a;
  margin-top: 10px;
}

.addVacation .Registration-form {
  width: 800px;
  /* height: 920px; */
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid #20599a;
  border-radius: 5px;
  padding: 30px;
}

.addVacation .Registration-form h4 {
  color: #20599a;
}

.addVacation .Registration-form label {
  display: flex;
  color: #20599a;
}

.addVacation .Registration-form button {
  width: 100%;
}

.addVacation .Registration-form .all-vacation-link {
  margin-top: 20px;
  color: #20599a;
}

.Vacation .card {
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #20599a;
  border-radius: 5px;
}

.Vacation .card .delete-edit {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.Vacation .card i {
  margin-right: 10px;
}

.Vacation .card .card-img-top {
  height: 150px;
  width: 300px;
}

.Vacation .card .card-title {
  color: #20599a;
  font-size: 20px;
}

.Vacation .card .card-body-edit {
  padding: 5px;
}

.Vacation .card .update-button .save-button {
  color: #20599a;
  border: 1px solid #20599a;
  border-radius: 5px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Vacation .card .update-button .save-button:hover {
  opacity: 0.7;
}

.Vacation .card .update-button .cancel-button {
  color: #20599a;
  border: 1px solid #20599a;
  border-radius: 5px;
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Vacation .card .update-button .cancel-button:hover {
  opacity: 0.7;
}

.Vacation .card .follow {
  border: 1px solid #20599a;
  border-radius: 5px;
  width: 110px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.Vacation .card .follow:hover {
  opacity: 0.7;
}

.Vacation .card .follow .follow-button {
  color: #20599a;
}

.AllVacations {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  margin-top: 30px;
  justify-content: center;
}

/* Graph */
.graph h3{
  color: #20599a;
}

.recharts-wrapper{
  margin-left: auto;
  margin-right: auto;
}
.recharts-wrapper .recharts-surface{
  background-color: #ffffff;
}